<?xml version="1.0" encoding="UTF-8"?>
<server description="Greeting runtime exercise">
  <featureManager>
    <feature>restfulWS-4.0</feature>
    <feature>cdi-4.1</feature>
    <feature>validation-3.1</feature>
    <feature>jsonb-3.0</feature>
    <feature>mpHealth-4.0</feature>
    <feature>mpConfig-3.1</feature>
  </featureManager>
  <httpEndpoint id="defaultHttpEndpoint" host="127.0.0.1"
                httpPort="${env.JQ_LAB_PORT}" httpsPort="-1"/>
  <webApplication location="greeting.war" contextRoot="/"/>
</server>
